@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f6f6f6;
  font-family: 'Balsamiq Sans', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.containerMaster {
  margin: 20px 30px;
}

.title {
  font-size: 40px;
}

.containerRank {
  margin: 30px;
  display: flex;
  gap: 50px;
}

.listScore {
  min-width: 330px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.headerListScore {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.latestScores {
  margin-right: 20px;
}

.refreshButton {
  height: max-content;
  font-size: 0.8em;
  align-self: center;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.705);
  background: white;
  cursor: pointer;
  outline: none;
  letter-spacing: 0.2px;
  color: black;
}

.refreshButton:hover {
  background: goldenrod;
  color: white;
}

.refreshButton:active {
  background: blue;
  box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.705);
  transform: translateY(4px);
  color: white;
}

.scoreListData {
  border: 2px solid black;
}

.datas {
  padding-left: 0;
}

.data {
  list-style: none;
  padding-left: 10px;
  text-align: left;
}

li:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

li:nth-child(even) {
  background-color: goldenrod;
  color: white;
}

.scoreInput {
  min-width: 250px;
}

.formInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.userInputSubmit {
  width: fit-content;
  height: min-content;
  align-self: flex-end;
  background: white;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.805);
  margin-right: 3px;
  font-size: 0.9em;
  cursor: pointer;
  color: black;
}

.userInputSubmit:hover {
  background: goldenrod;
  color: white;
}

.userInputSubmit:active {
  background: blue;
  box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.705);
  transform: translateY(4px);
  color: white;
}
